/* ===========================================================================
    Single testimonial
=========================================================================== */

/* @define Testimonial */

.Testimonial {
    position: relative;
    text-align: center;
}

.Testimonial-image {
    bottom: 0;
    left: 50%;
    max-height: 300px;
    opacity: 0.15;
    position: absolute;
    transform: translateX(-50%);
    width: auto;
    z-index: 1;
}

.Testimonial-inner {
    min-height: 340px;
    position: relative;
    z-index: 2;
}

.Testimonial-divider {
    align-items: center;
    display: flex;
    height: 37px;
    justify-content: center;
    position: relative;
}

.Testimonial-divider::before {
    background-color: var(--Testimonial-divider-color, #d4d4d4);
    bottom: 14px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.Testimonial-dividerImg {
    position: relative;
    z-index: 2;
}

.Testimonial-content {
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.Testimonial-text {
    font-size: 1.4em;
    font-style: italic;
    margin: 10px 0;
}

.Testimonial-name {
    font-size: 0.8em;
}

@media (--m-lg) {
    .Testimonial-image {
        left: auto;
        max-height: none;
        opacity: 1;
        position: relative;
        transform: none;
    }

    .Testimonial-inner {
        align-items: center;
        display: flex;
        gap: 20px;
        min-height: none;
    }
}
