{% include 'snippets/head' %}
{% include 'snippets/header' %}

{% set content = "<h1>Oops!</h1>" %}
{% include("content-builder/banner") %}

<div class="Container Container--pad ContentBg">
    <div class="Content clearfix">
        <main id="main">{% block main _page.content() %}</main>
    </div>
</div>

{{ _api.contentSnippet.get('footer-content') }}
{% include 'snippets/footer' %}
