{% include 'snippets/header' %}

{% set content = "<h1>Oops!</h1>" %}
{% include("content-builder/banner-bar") %}

<div class="py-5">
    <main>
        <div class="Container Container--pad Container--narrow">
            {% block main _page.content() %}
        </div>
    </main>
</div>

{% include 'snippets/footer' %}
