{% include 'snippets/head' %}
{% include 'snippets/header' %}

{% block banner %}
    {{ _page.content('banner') }}
{% endblock %}

<div class="py-5">
    <main>
        {% block main _page.content() %}
    </main>
</div>

{{ _api.contentSnippet.get('footer-content') }}
{% include 'snippets/footer' %}
