/* =========================================================================== *\
    Banner
\* =========================================================================== */

/* @define Banner */
.Banner {
    position: relative;
}

.Banner-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.Banner-picture {
    height: 100%;
}

.Banner-image,
.Banner-video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.Banner-fg {
    align-items: center;
    background-color: var(--Banner-overlay, transparent);
    display: flex;
    height: 100%;
    justify-content: var(--Banner-text-align);
    padding: var(--Banner-padding-sm);
    position: relative;
    z-index: 20;
}

/* postcss-bem-linter: ignore */
.Banner-fg * {
    color: var(--Banner-color);
}

.Banner-fg--noImage {
    aspect-ratio: var(--Banner-content-aspect-ratio);
    background-color: var(--Banner-background);
    padding: var(--Banner-padding-no-image-sm);
}

.Banner-content {
    max-width: var(--Container-width);
}

@media (--c-bp-lg) {
    .Banner-fg {
        padding: var(--Banner-padding);
    }

    .Banner-fg--noImage {
        padding: var(--Banner-padding-no-image);
    }
}

/* ------------------------------------ *\
    Splide
\* ------------------------------------ */

/* postcss-bem-linter: ignore */
.Banner .splide__track {
    height: 100%;
}

/* postcss-bem-linter: ignore */
.Banner .splide__pagination {
    bottom: 25px;
    justify-content: flex-start;
    padding: 0 var(--Banner-paddingHorizontal--sm) 0;
}

/* postcss-bem-linter: ignore */
.Banner .splide__pagination__page {
    background-color: var(--Banner-pagination-color);
    height: 17px;
    opacity: 1;
    transition: 250ms;
    width: 17px;
}

/* postcss-bem-linter: ignore */
.Banner .splide__pagination__page.is-active,
.Banner .splide__pagination__page:hover {
    background-color: var(--Banner-pagination-color--active);
    opacity: 1;
    transform: none;
}

@media (--c-bp-lg) {
    /* postcss-bem-linter: ignore */
    .Banner .splide__pagination {
        padding: 0 var(--Banner-paddingHorizontal) 0;
    }
}
