/* =========================================================================== *\
    Banner
\* =========================================================================== */

/* @define Banner */
.Banner {
    align-items: var(--Banner-align-horizontal, center);
    display: flex;
    flex-direction: column;
    justify-content: var(--Banner-align-vertical, center);
    position: relative;
}

.Banner--noMedia {
    aspect-ratio: var(--Banner-content-aspect-ratio);
    background-color: var(--Banner-background);
}

.Banner-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.Banner-picture {
    height: 100%;
}

.Banner-image,
.Banner-video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.Banner-image--top {
    object-position: top;
}

.Banner-image--bottom {
    object-position: bottom;
}

.Banner-fg {
    background-color: var(--Banner-overlay, transparent);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.Banner-content {
    display: flex;
    padding: var(--Banner-padding-sm);
    position: relative;
    z-index: 3;
}

.Banner-contentInner {
    max-width: var(--Banner-content-width);
    text-align: var(--Banner-align-horizontal, center);
}

.Banner--noMedia .Banner-content {
    padding: var(--Banner-padding-no-image-sm);
}

/* postcss-bem-linter: ignore */
.Banner-content *:not(.Button) {
    color: var(--Banner-color);
    text-shadow: var(--Banner-text-shadow, none);
}

/* postcss-bem-linter: ignore */
.Banner-content p {
    font-size: var(--Banner-content-font-size, 2rem);
}

@media (width <= 800px) {
    /* postcss-bem-linter: ignore */
    .Banner-content h1 {
        font-size: 2em;
    }
}

@media (--c-bp-lg) {
    .Banner-content {
        padding: var(--Banner-padding);
    }

    .Banner--noMedia .Banner-content {
        padding: var(--Banner-padding-no-image);
    }
}

/* postcss-bem-linter: ignore */
.Banner .Button {
    margin: var(--Banner-content-button-gap, 10px);
}

@media (--c-bp-md) {
    /* postcss-bem-linter: ignore */
    .Banner .Button {
        margin-left: var(--Banner-content-button-gap, 10px);
    }

    /* postcss-bem-linter: ignore */
    .Banner .Button:first-child {
        margin-left: 0;
    }
}
