/* =========================================================================== *\
    Banner
\* =========================================================================== */

/* @define Banner */
.Banner {
    position: relative;
}

.Banner--noMedia {
    background-color: var(--Banner-background);
}

.Banner-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.Banner-picture {
    height: 100%;
}

.Banner-image,
.Banner-video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.Banner-image--top {
    object-position: top;
}

.Banner-image--bottom {
    object-position: bottom;
}

.Banner-fg {
    align-items: center;
    background-color: var(--Banner-overlay, transparent);
    display: flex;
    height: 100%;
    justify-content: var(--Banner-text-align);
    padding: var(--Banner-padding-sm);
    position: relative;
    z-index: 20;
}

/* postcss-bem-linter: ignore */
.Banner-fg * {
    color: var(--Banner-color);
}

.Banner--noMedia .Banner-fg {
    aspect-ratio: var(--Banner-content-aspect-ratio);
    padding: var(--Banner-padding-no-image-sm);
}

.Banner-content {
    max-width: var(--Banner-content-width);
    text-align: var(--Banner-text-align);
}

/* postcss-bem-linter: ignore */
.Banner-content p {
    font-size: var(--Banner-content-font-size, 2rem);
}

@media (--c-bp-lg) {
    .Banner-fg {
        padding: var(--Banner-padding);
    }

    .Banner--noMedia .Banner-fg {
        padding: var(--Banner-padding-no-image);
    }
}

/* postcss-bem-linter: ignore */
.Banner .Button {
    margin-left: var(--Banner-content-button-gap, 10px);
}

/* postcss-bem-linter: ignore */
.Banner .Button:first-child {
    margin-left: 0;
}
