/* ==========================================================================
   Button
   Adds styles to the Cacao Button component
   ========================================================================== */

/** @define Button */

/**
 * Provides a structural UI button template ready to be extended
 *
 * The button classes are best applied to links and buttons.
 * These components can be used in forms, as calls to action, or as part of the
 * general UI of the site/app.
 */

:root {
    --Button-disabled-opacity: 0.6;
}

/**
 * 1. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 2. Prevent button text from being selectable.
 */

.Button,
.Button[href^='tel'] {
    background: var(--Button-background);
    border: var(--Button-border-width) solid var(--Button-border-color);
    border-radius: var(--Button-border-radius);
    box-sizing: border-box; /* 1 */
    color: var(--Button-typography-color);
    cursor: pointer;
    display: inline-block;
    font-family: var(--Button-typography-font-family);
    font-size: var(--Button-typography-font-size);
    font-style: var(--Button-typography-font-style);
    font-weight: var(--Button-typography-font-weight);
    letter-spacing: var(--Button-typography-letter-spacing);
    line-height: var(--Button-typography-line-height);
    margin: 0;
    padding: var(--Button-padding);
    text-align: center;
    text-decoration: var(--Button-typography-text-decoration);
    text-transform: var(--Button-typography-text-transform);
    user-select: none; /* 2 */
}

/**
 * UI States
 */

.Button:hover,
.Button[href^='tel']:hover,
.Button:focus,
.Button[href^='tel']:focus,
.Button:active,
.Button[href^='tel']:active {
    background: var(--Button-background-hover);
    border-color: var(--Button-border-color-hover);
    color: var(--Button-typography-color-hover);
    font-style: var(--Button-typography-font-style-hover);
    text-decoration: var(--Button-typography-text-decoration-hover);
}

/**
 * Size modifiers
 */

.Button--lg,
.Button--lg[href^='tel'] {
    font-size: var(--Button-lg-font-size);
    padding: var(--Button-lg-padding);
}

.Button--sm,
.Button--sm[href^='tel'] {
    font-size: var(--Button-sm-font-size);
    padding: var(--Button-sm-padding);
}
