/* =========================================================================== *\
    Field Label
\* =========================================================================== */

.FormLabel {
    color: var(--FormLabel-color, #333);
    font-family: var(--FormLabel-font-family);
    font-size: var(--FormLabel-font-size);
    font-weight: var(--FormLabel-font-weight, 700);
    letter-spacing: var(--FormLabel-letter-spacing, 0);
    margin: var(--FormLabel-margin, 0);
    margin-left: var(--FormLabel-margin-left, 0);
    text-align: var(--FormLabel-text-align);
    text-decoration: var(--FormLabel-text-decoration, none);
    text-transform: var(--FormLabel-text-transform, none);
}

.FormLabel--block {
    display: block;
}
