<ul class="HeaderBarNav">
    {% for item in items %}
        {% set class = "HeaderBarNav-item " ~ item.link.class %}
        <li class="{{ class|trim }}">
            {% set item.link.class = item.link.class ~ ' HeaderBarNav-link' %}
            {# {% set item.link.class = "HeaderBarNav-link" ~ (item.isCurrent ? " is-current") %} #}
            {{ item.link.tag }}
        </li>
    {% endfor %}
</ul>
