/* =========================================================================== *\
    Header
\* =========================================================================== */

/* @define Header */
.Header {
    padding: var(--Header-padding-sm, 20px 0);
}

/* ------------------------------------ *\
    Main
\* ------------------------------------ */
.HeaderWrap {
    background: white; /* or your header background */
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%); /* optional, looks nice */
    position: sticky;
    top: 0;
    transition: transform 0.3s ease;
    z-index: 900;
}

.HeaderWrap.is-hidden {
    transform: translateY(-100%);
}

.Header-inner {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    transition: padding 250ms, top 250ms;
    z-index: 900;
}

.Header-main.is-sticky {
    padding: 23px 35px 23px 75px;
}

.Header-logo {
    max-width: var(--Header-logo-width);
    transition: max-width 250ms;
}

.Header-logoLink {
    display: contents; /* This fixes an issue where in Firefox the link tag would collapse around and SVG logo. */
    text-decoration: none;
}

.Header-main.is-sticky .Header-logo {
    max-width: 200px;
}

.Header-nav {
    align-items: center;
    display: flex;
    gap: var(--Header-navigation-menu-gap, 20px);
}

/* ------------------------------------ *\
    Buttons
\* ------------------------------------ */

.Header-button {
    background: var(--Header-button-background);
    border-color: var(--Header-button-border-color);
    color: var(--Header-button-color);
    font-family: var(--Header-button-font-family);
    font-size: var(--Header-button-font-size);
    font-style: var(--Header-button-font-style);
    font-weight: var(--Header-button-font-weight);
    letter-spacing: var(--Header-button-letter-spacing);
    line-height: var(--Header-button-line-height);
    padding: var(--Header-button-padding);
    text-decoration: var(--Header-button-text-decoration);
    text-transform: var(--Header-button-text-transform);
}

@media (hover: hover) and (pointer: fine) {
    .Header-button:hover {
        background: var(--Header-button-background-hover);
        border-color: var(--Header-button-border-color-hover);
        color: var(--Header-button-color-hover);
        font-style: var(--Header-button-font-style-hover);
        text-decoration: var(--Header-button-text-decoration-hover);
    }
}

.Header-button:focus-visible {
    background: var(--Header-button-background-hover);
    border-color: var(--Header-button-border-color-hover);
    color: var(--Header-buttonColorHover);
}

/* ------------------------------------ *\
    Hamburger menu button
\* ------------------------------------ */

.Header-hamburger {
    flex-shrink: 0;
}

.Header-textLogo {
    font-size: var(--Header-text-logo-font-size-sm);
}

@media (width <= 1300px) {
    .Header-bar {
        display: none;
    }

    .Header-main {
        padding: 20px 35px !important;
    }

    .Header-main.is-sticky {
        padding: 15px 35px !important;
    }
}

@media (--m-md) {
    .Header {
        padding: var(--Header-padding, 0);
    }

    .Header-main {
        padding: 20px 10px 20px 20px !important;
    }

    .Header-main.is-sticky {
        padding: 20px 10px 20px 20px !important;
    }

    .Header-buttons {
        display: none;
    }
}
