/* =========================================================================== *\
    Header
\* =========================================================================== */

/* @define Header */
.Header {
    background-color: var(--Header-background);
}

/* ------------------------------------ *\
    Main
\* ------------------------------------ */

.Header-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 35px 25px 75px;
    position: sticky;
    top: 0;
    transition: padding 250ms, top 250ms;
    z-index: 900;
}

.Header-main.is-sticky {
    padding: 23px 35px 23px 75px;
}

.Header-logo {
    max-width: var(--Header-logo-width);
    transition: max-width 250ms;
}

.Header-logoLink {
    display: contents; /* This fixes an issue where in Firefox the link tag would collapse around and SVG logo. */
    text-decoration: none;
}

.Header-main.is-sticky .Header-logo {
    max-width: 200px;
}

.Header-nav {
    display: flex;
    gap: var(--Header-navigation-menu-gap, 20px);
}

/* ------------------------------------ *\
    Buttons
\* ------------------------------------ */

.Header-button {
    background: var(--Header-buttonBackground);
    border-color: var(--Header-buttonBorderColor);
    color: var(--Header-buttonColor);
}

@media (hover: hover) and (pointer: fine) {
    .Header-button:hover {
        background: var(--Header-buttonBackgroundHover);
        border-color: var(--Header-buttonBorderColorHover);
        color: var(--Header-buttonColorHover);
    }
}

.Header-button:focus-visible {
    background: var(--Header-buttonBackgroundHover);
    border-color: var(--Header-buttonBorderColorHover);
    color: var(--Header-buttonColorHover);
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (width <= 1300px) {
    .Header-bar {
        display: none;
    }

    .Header-main {
        padding: 20px 35px !important;
    }

    .Header-main.is-sticky {
        padding: 15px 35px !important;
    }
}

@media (--c-bp-md) {
    .Header-main {
        padding: 20px 10px 20px 20px !important;
    }

    .Header-main.is-sticky {
        padding: 20px 10px 20px 20px !important;
    }

    .Header-buttons {
        display: none;
    }
}
