/* ===========================================================================
    Header bar styles
=========================================================================== */

/* @define HeaderBar */

.HeaderBar {
    background: var(--HeaderBar-background, transparent);
}

.HeaderBar--contained {
    margin: 0 auto;
    max-width: var(--Container-width);
}

.HeaderBar-inner {
    align-items: center;
    column-gap: var(--HeaderBar-column-gap, 30px);
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    line-height: 1;
    padding: var(--HeaderBar-padding);
}

.HeaderBar-phone[href^='tel'] {
    color: var(--HeaderBar-phone-color, #333);
    column-gap: var(--HeaderBar-phone-column-gap, 10px);
    display: flex;
    font-family: var(--HeaderBar-phone-font-family);
    font-size: var(--HeaderBar-phone-font-size, 1.8rem);
    font-style: var(--HeaderBar-phone-font-style, normal);
    font-weight: var(--HeaderBar-phone-font-weight, 400);
    letter-spacing: var(--HeaderBar-phone-letter-spacing, 0);
    line-height: var(--HeaderBar-phone-line-height, 1.58);
    margin: var(--HeaderBar-phone-margin, 0);
    padding: var(--HeaderBar-phone-padding, 0);
    text-decoration: var(--HeaderBar-phone-text-decoration, none);
    text-transform: var(--HeaderBar-phone-text-transform, none);
}

.HeaderBar-phone[href^='tel']:focus-visible,
.HeaderBar-phone[href^='tel']:hover {
    color: var(--HeaderBar-phone-hover-color, var(--HeaderBar-phone-color));
    font-style: var(--HeaderBar-phone-hover-font-style, var(--HeaderBar-phone-font-style));
    text-decoration: var(--HeaderBar-phone-hover-text-decoration, var(--HeaderBar-phone-text-decoration));
    text-transform: var(--HeaderBar-phone-hover-text-transform, var(--HeaderBar-phone-text-transform));
}

.HeaderBar-phoneText {
    font-size: var(--HeaderBar-phone-text-font-size, var(--HeaderBar-phone-font-size));
    font-style: var(--HeaderBar-phone-text-font-style, var(--HeaderBar-phone-font-style));
    font-weight: var(--HeaderBar-phone-text-font-weight, var(--HeaderBar-phone-font-weight));
    text-decoration: var(--HeaderBar-phone-text-text-decoration, var(--HeaderBar-phone-text-decoration));
    text-transform: var(--HeaderBar-phone-text-text-transform, var(--HeaderBar-phone-text-transform));
}

@media (--m-md) {
    .HeaderBar-inner {
        justify-content: var(--HeaderBar-justify);
    }
}
