/* =========================================================================== *\
    [Hamburger] Menu Styles
\* =========================================================================== */

:root {
    --Menu-dropShadow-offsetX: -33px;
    --Menu-dropShadow-offsetY: 3px;
    --Menu-dropShadow-blurRadius: 21px;
    --Menu-dropShadow-color: #0000002b;
}

/* @define Menu */
.Menu {
    background-color: #fff;
    box-shadow: var(--Menu-dropShadow-offsetX) var(--Menu-dropShadow-offsetY) var(--Menu-dropShadow-blurRadius) var(--Menu-dropShadow-color);
    height: 100vh;
    left: 100%;
    margin: 0;
    overflow-y: auto;
    padding: 40px 35px;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 500px;
    z-index: 999;
}

.Menu.is-open {
    animation: open-desktop 500ms forwards;
}

.Menu.is-closed {
    animation: close-desktop 500ms forwards;
    opacity: 0;
}

/* postcss-bem-linter: ignore */
.Menu.is-closed .MenuNav-sub {
    visibility: hidden !important;
}

/* postcss-bem-linter: ignore */
.Menu.is-closed .Button {
    visibility: hidden !important;
}

.Menu-top {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: end;
    margin-bottom: 70px;
}

.Menu-top::before {
    content: '';
}

.Menu-logoWrapper {
    margin-top: 30px;
    text-align: center;
}

.Menu-closeWrapper {
    display: flex;
    justify-content: flex-end;
}

.Menu-close {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: var(--color-primary);
    cursor: pointer;
    font-size: 4rem;
    height: fit-content;
    padding: 10px;
    transition: background-color 250ms;
    width: fit-content;
}

.Menu-close:focus,
.Menu-close:active,
.Menu-close:hover {
    background-color: var(--color-accent2);
    outline: none;
}

.Menu-navWrapper {
    margin: 0 auto 100px;
    max-width: 370px;
}

.Menu-icon {
    margin: 0 !important;
}

.Menu-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    row-gap: 20px;
}

.Menu-phone {
    text-align: center;
}

@media (width <= 1800px) {
    .Menu {
        animation: unset;
        left: unset !important;
        right: 0;
    }

    .Menu.is-open {
        animation: open-mobile 500ms forwards;
    }
}

@media (--c-bp-sm) {
    .Menu {
        padding: 20px 20px 150px;
        width: 100%;
    }
    
    .Menu-navWrapper {
        margin: 0 auto 75px;
        max-width: unset;
        padding: 0 10px;
    }
}

@keyframes open-desktop {
    from {
        left: 100%;
        visibility: hidden;
    }

    to {
        left: calc(50% + 400px);
        visibility: visible;
    }
}

@keyframes close-desktop {
    0% {
        left: calc(50% + 400px);
        opacity: 1;
        visibility: visible;
    }

    99% {
        left: calc(50% + 400px);
        opacity: 0;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes open-mobile {
    from {
        right: -500px;
    }

    to {
        right: 0;
        visibility: visible;
    }
}
