{% if _core.theme.settings.promoBarLeftContent or _core.theme.settings.promoBarRightContent %}
    <div class="PromoBar{% if _core.theme.settings.promoBarLeftContent and _core.theme.settings.promoBarRightContent %} PromoBar--grid{% endif %}">
        <div class="Container Container--pad">
            <div class="PromoBar-content">
                {% if _core.theme.settings.promoBarLeftContent %}
                    <div class="PromoBar-left last-child-sb-0">{{ _core.theme.settings.promoBarLeftContent }}</div>
                {% endif %}
                {% if _core.theme.settings.promoBarRightContent %}
                    <div class="PromoBar-right last-child-sb-0">{{ _core.theme.settings.promoBarRightContent }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
