/* ===========================================================================
    Promotional Bar
=========================================================================== */

/* @define PromoBar */

.PromoBar {
    background: var(--PromoBar-background, #f2f2f2);
    padding: var(--PromoBar-padding, 10px 0);
}

.PromoBar-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

/* postcss-bem-linter: ignore */
.PromoBar a[href^='tel'] {
    color: var(--PromoBar-phone-color, inherit);
    text-decoration: var(--PromoBar-phone-text-decoration, none);
}

/* postcss-bem-linter: ignore */
.PromoBar a[href^='tel']:active,
.PromoBar a[href^='tel']:focus,
.PromoBar a[href^='tel']:hover {
    color: var(--PromoBar-phone-color-hover, inherit);
    text-decoration: var(--PromoBar-phone-text-decoration-hover, none);
}

.PromoBar-left,
.PromoBar-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (--m-lg) {
    .PromoBar--grid .PromoBar-content {
        display: grid;
        grid-template-columns: var(--PromoBar-col1-width, 50%) var(--PromoBar-col2-width, 50%);
    }
}
