/* =========================================================================== *\
    Hamburger Menu
\* =========================================================================== */

/* @define Hamburger */
.Hamburger {
    background: transparent;
    border: none;
    color: var(--HamburgerMenu-color);
    cursor: pointer;
    display: flex;
    font-size: var(--HamburgerMenu-font-size, 3.5rem);
    height: fit-content;
    padding: var(--HamburgerMenu-padding, 10px);
    transition: background-color 250ms;
    width: fit-content;
}

.Hamburger:focus,
.Hamburger:active,
.Hamburger:hover {
    color: var(--HamburgerMenu-color-hover);
    outline: none;
}

.Hamburger-icon {
    margin: 0 !important;
}
