/* =========================================================================== *\
    Main Navigation
\* =========================================================================== */

/* @define MainNav */
.MainNav {
    align-items: center;
    box-sizing: border-box;
    display: none;
    flex-flow: column nowrap;
    font-family: var(--MainNav-font-family);
    gap: var(--MainNav-item-sm-gap);
    justify-content: var(--MainNav-horizontal-alignment);
    list-style: none;
    margin: 0;
    padding: 0;
}

.MainNav-item {
    display: flex;
    font-family: var(--MainNav-font-family);
    font-size: var(--MainNav-font-size, 2rem);
    font-style: var(--MainNav-font-style, normal);
    font-weight: var(--MainNav-font-weight, 700);
    justify-content: flex-end;
    letter-spacing: var(--MainNav-letter-spacing);
    line-height: var(--MainNav-line-height, 1.58);
    text-transform: var(--MainNav-text-transform);
    width: 100%;
}

.MainNav-link {
    background: var(--MainNav-link-background);
    box-sizing: border-box;
    color: var(--MainNav-color, #333);
    display: block;
    font-weight: var(--MainNav-font-weight, 700);
    padding: var(--MainNav-item-padding-sm);
    position: relative;
    text-align: var(--MainNav-text-align);
    text-decoration: var(--MainNav-text-decoration, none);
    text-transform: var(--MainNav-text-transform, none);
}

.MainNav-item.is-current > .MainNav-link,
.MainNav-item.is-currentParent > .MainNav-link,
.MainNav-item:hover > .MainNav-link {
    background: var(--MainNav-link-background--hover);
    color: var(--MainNav-color-hover, #333);
    text-decoration: var(--MainNav-text-decoration-hover);
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

/* Class to hide links on medium size screens and smaller */
.MainNav-item--hideMd {
    display: none;
}

@media (--m-md) {
    .MainNav {
        gap: var(--MainNav-item-gap);
    }

    .MainNav-item {
        width: unset;
    }

    .MainNav-item--hideMd {
        display: block;
    }
}

/* Class to hide links on large size screens and smaller */
.MainNav-item--hideLg {
    display: none;
}

@media (--m-lg) {
    .MainNav-link {
        padding: var(--MainNav-item-padding-top, 0) var(--MainNav-item-padding-right, 0)
            var(--MainNav-item-padding-bottom, 0) var(--MainNav-item-padding-left, 0);
    }

    .MainNav-item--hideLg {
        display: block;
    }
}

/* Class to hide links on X-large size screens and smaller */
.MainNav-item--hideXlg {
    display: none;
}

@media (--m-xl) {
    .MainNav-item--hideXlg {
        display: block;
    }
}
