/* ===========================================================================
    Image Grid styles
=========================================================================== */

/* @define ImageGrid */

.ImageGrid-title {
    color: var(--ImageGrid-title-color, inherit);
    display: block;
    font-family: var(--ImageGrid-title-font-family);
    font-size: var(--ImageGrid-title-font-size, inherit);
    font-style: var(--ImageGrid-title-font-style);
    font-weight: var(--ImageGrid-title-font-weight, 700);
    letter-spacing: var(--ImageGrid-title-letter-spacing);
    line-height: var(--ImageGrid-title-line-height, inherit);
    margin: var(--ImageGrid-title-margin, 0);
    padding: var(--ImageGrid-title-padding, 0);
    text-align: var(--ImageGrid-title-text-align);
    text-decoration: var(--ImageGrid-title-text-decoration);
    text-transform: var(--ImageGrid-title-text-transform);
}

.ImageGrid-hoverText {
    color: var(--ImageGrid-hover-text-color, inherit);
    display: none;
    font-family: var(--ImageGrid-hover-text-font-family);
    font-size: var(--ImageGrid-hover-text-font-size, inherit);
    font-style: var(--ImageGrid-hover-text-font-style);
    font-weight: var(--ImageGrid-hover-text-font-weight, 700);
    letter-spacing: var(--ImageGrid-hover-text-letter-spacing);
    line-height: var(--ImageGrid-hover-text-line-height, inherit);
    margin: var(--ImageGrid-hover-text-margin, 0);
    padding: var(--ImageGrid-hover-text-padding, 0);
    text-align: var(--ImageGrid-hover-text-text-align);
    text-decoration: var(--ImageGrid-hover-text-text-decoration);
    text-transform: var(--ImageGrid-hover-text-text-transform);
}

.ImageGrid-image {
    position: relative;
}

.ImageGrid-subText {
    display: none;
}

.ImageGrid-image:hover .ImageGrid-subText {
    display: block;
}

.ImageGrid-overlay {
    align-items: center;
    background: var(--ImageGrid-overlay-background);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: var(--ImageGrid-overlay-initial-height, 60px);
    justify-content: center;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in;
    width: 100%;
}

.ImageGrid-overlay--center {
    height: 100%;
    top: 0;
}

.ImageGrid-container:hover .ImageGrid-overlay {
    background: var(--ImageGrid-overlay-background-hover, var(--ImageGrid-overlay-background));
    height: 100%;
}

.ImageGrid-container:hover .ImageGrid-hoverText {
    display: block;
}
